<p>Welcome to Kirk's Trucks please make your reservations with us today!!!</p>
<ul>
  <li><%= link_to "Reservations", reservations_path %></li>
  <li><%= link_to "Trucks", trucks_path %></li>
  <li><%= link_to "Customers", customers_path %></li>
</ul>
<%= image_tag "Dump_Truck_1b.jpg" %> 
